body {
  font-family: 'Fauna One', serif;
  font-size: 12px;
  cursor: none;
}

h3 {font-weight: normal;}

a {color: #ff0000;}

/*#info {
  position: absolute;
  width: 800px;
  margin-left: -400px;
  left: 50%;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}*/

#container {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  overflow: hidden;
  /*border: 1px solid #cccccc;*/
  z-index: 0;
}

#cursor {
  position: absolute;
  left: -1000px;
  top: -1000px;
  z-index: 100;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 6px; 
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
  border: 1px solid #ff0000; 
}
#total_moves, #total-moves-text, #steps, #Goal, #prev-score-text, #prev-score{
  position: fixed;
  font-weight: bolder;
  z-index: 1;
  color: #804200;
}
#total_moves{
  font-size: 40px;
  right: 80px;
  top:50px;
}
#total-moves-text{ 
  font-size: 25px;
  top: 10px;
  right: 10px;
}

#steps{
  font-size: 40px;
  left: 90px;
  top:50px;
}
#Goal{
  font-size: 25px;
  top: 10px;
  left: 20px;
}

#prev-score-text{
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  left: 600px;
  top:10px;
}
#prev-score{
  font-size: 40px;
  top: 50px;
  left: 680px;
}

/*#total_moves{
  position: fixed;
  font-size: 40px;
  font-weight: bolder;
  right: 80px;
  top:50px;
  z-index: 1;
  color: #804200;
}
#total-moves-text{
	position: fixed;
	font-size: 25px;
	font-weight: bolder;
	top: 10px;
	right: 10px;
	z-index: 1;
	color: #804200;
}

#steps{
  position: fixed;
  font-size: 40px;
  font-weight: bolder;
  left: 90px;
  top:50px;
  z-index: 1;
  color: #804200;
}
#Goal{
  position: fixed;
  font-size: 25px;
  font-weight: bolder;
  top: 10px;
  left: 20px;
  z-index: 1;
  color: #804200;
}

#prev-score-text{
  position: fixed;
  font-size: 25px;
  font-weight: bolder;
  left: 600px;
  top:10px;
  z-index: 1;
  color: #804200;
}
#prev-score{
  position: fixed;
  font-size: 40px;
  font-weight: bolder;
  top: 50px;
  left: 680px;
  z-index: 1;
  color: #804200;
}*/